# Core requirements
numpy>=1.14.3
scipy>=1.1.0
pytest>=3.7.3
tqdm>=4.26.0
h5py
packaging
toposort

# Compatability
deprecation
typing

# Coverage
coverage
codecov
pytest-cov

# Also required:
# tensorflow OR pytorch

# For tests
# nltk
# tensorflow-datasets
